Define usage of SIDs (yes/no/mixed) for the voucher+cose media type

Inside the COSE envelope, there's CBOR which may use SIDs, or not, or mixed SID/text-strings.

To clarify which case(s) we want to allow - see below the RFC 9254 cases.

"Mixed" should be ok as this leaves the support for SIDs (for which elements) as a choice for the device manufacturer:
* e.g. use SIDS everywhere to make the Pledge onboard fastest on a constrained network.

The Registrar and MASA are supposed to support 'mixed' formats always.

---

Section 7 of RFC 9254 defines three content types (parameterized media types):

   *  application/yang-data+cbor; id=sid -- for use by applications that
      need to be frugal with encoding space and text string processing
      (e.g., applications running on constrained nodes [RFC7228] or
      applications with particular performance requirements);

   *  application/yang-data+cbor; id=name -- for use by applications
      that do not want to engage in SID management and that have ample
      resources to manage text-string-based item identifiers (e.g.,
      applications that directly want to substitute application/
      yang.data+json with a more efficient representation without any
      other changes); and

   *  application/yang-data+cbor -- for use by more complex applications
      that can benefit from the increased efficiency of SID identifiers
      but also need to integrate databases of YANG modules before SID
      mappings are defined for them.

   All three content-types are based on the same representation
   mechanisms, parts of which are simply not used in the first and
   second cases.