clarify situation with voucherstatus and CDDL and CBOR


> It doesn't reference the CDDL at all.                                                              
> Why would it?  We don't need to change it.                                                         
> We simply say that having that content in CBOR format is a MUST.                                   
                                                                                                     
I was expecting it to say that something like “the voucher status message here is defined by CDDL    
in section 5.7 of RFC 8995 called voucherstatus, but must be encoded in CBOR rather than JSON”.      
Perhaps this reference is indirect through the message type or other.                                



Address now by https://github.com/anima-wg/constrained-voucher/pull/164 , suggesting to close this one