pinning to raw public key is underexplained

We need more text in constrained-voucher document to explain that the voucher can pin a raw public key.


It's about not needing a PKI on the pledge.

Yes, this is a very useful feature and should be explained more. Also, the current draft states the 'pinned-domain-subject-public-key-info' is the Raw Public Key of the Registrar. This is not necessarily the case. It could be also the raw public key of the Domain CA. This lets the Pledge trust the entire Domain it is enrolled into. Then the Pledge can also use this as the trust basis for its operational certificate that it obtains via EST, which has a cert chain that leads back to the Domain CA. See RFC 8366 Section 5.3 that explains this a bit more.
(in case of a self-signed Registrar, the current text is right - Registrar public key equals Domain CA public key)

If pinned-domain-subject-public-key-info is that of the Domain CA, that implies that the Registrar is authenticating itself with a certificate signed by that CA.  I'd like capture that use case separately, but I'm not sure where to explain this, or how to motivate the use case.


Also, the pledge is supposed to get the list of CAs as part of the EST protocol.

The motivation for sending a pinned public key instead of the full pinned domain CA certificate is to reduce size of the voucher itself. Suppose a Pledge+Registrar perform a DTLS handshake with certificates to identify both ends, then as a result of this the Pledge will have the Domain CA certificate locally - being the root of the certificate chain. There's no need then for MASA to send it again in the voucher - identifying this certificate by its public key is enough information for the Pledge to immediately trust the Domain CA. (The Pledge can then, optionally, in the next step still get a list of CAs with the EST protocol.)

Maybe I should not have said "pinned raw public key of the Domain CA" - it was in fact a pinned public key uniquely identifying the Domain CA, pinning any Domain-CA-certificate that contains the same public key. (Assumption here is that any renewed Domain CA certificate would anyhow include a new public key, which makes this key-to-cert linking possible. Maybe a "pinned hash of Domain CA certificate" is even better for this purpose.)

I agree that pinning a Registrar raw public key is also very useful, for the more constrained Pledge cases, to avoid doing PKIX path validation. The idea I had was to re-use the "pinned-domain-subject-public-key-info" field for any of the use cases:
 - identifying a Domain CA cert to trust, 
 - identifying a Registrar cert to trust, 
 - identifying a raw public/private keypair of the Registrar to trust.


Commit https://github.com/anima-wg/constrained-voucher/commit/b46d91292295afbac3b69442d009cf5b34780108 now also explains this in more detail. So if RPK is pinned, it is always the Registrar identity and not a higher-level Domain CA just to keep things conceptually simple and to avoid introducing mixed cases of PKIX/public-key-only chain verification which may be a security risk.   (So: not allowing the use cases I mentioned in my previous comment, of pinning public-key-only of a CA).

In the commit text there is still the possibility that the MASA pins only public key of the Registrar just to save space in voucher, which follows #78 discussion. It can do this when it knows that the Pledge will support public-key-pinning and *also* it wants to pin the Registrar identity anyway; in that case there's none of the security risks as mentioned above and the MASA can safely do that.  In case we don't like this feature we can fix this in #78.   
@mcr So I think this issue can be closed now?


Recent commits address this issue. If still not clear, can open a new Issue.