Clarify text on RFC 4210 section 4.4 reference / OldWithNew

Current draft has this text:

The mechanism described in {{RFC4210, Section 4.4}} allows for a new CA to sign the old CA, so even during rollover of trust anchors, it is possible to have only a single trust anchor.

This is unclear; as RFC 4210 defines having several certificates; NewWithNew, NewWithOld, and OldWithNew.  In case of a key pair change of the CA, at the very least the NewWithNew needs to be communicated to the EST client.  This already fills up the slot of the single certificate, so no others can be added such as OldWithNew as suggested in the above text.



One more related issue came up with the new text on /sren usage.  Consider we may have these cases of Domain CA change that an EST-client may deal with during the /sren process:

1. Domain CA cert is updated (e.g. fields/validity/flags) but CA key pair remains same
2. Domain CA cert is updated and rekeyed i.e. new key pair (see RFC 4210 "Root CA Key Update")
3. Device is being moved to a new domain, different Domain CA [from device point of view similar to 2.]
4. No change in Domain CA at all

The current written text says the EST-client will check if the new LDevID chains to the "old" Domain CA stored as TA. However, this check cannot distinguish between cases 1. and 4. Thus in case 1. it won't get the updated CA cert.
**Proposed solution**: when doing re-enrollment, the EST-client always will (SHOULD) fetch the latest Domain CA cert using the /crts request. Such behavior is also kind of implied by RFC 7030, to get the latest CA certs when doing any interactions with the EST server.